<div class='container'>
<div class="jumbotron">
<div>Thank your for your order. MODAL!!</div>
<div>Order no. <%=@order.id%></div>
<div>
<div><%=@restaurant.city%></div><div><%=@restaurant.phone%></div>
</div>
<div>
<%=link_to 'My Orders'%>
</div>
</div>
</div>