<%= render 'navbar' %>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
<!--             <p class="lead"><img src=''></p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div> -->
        </div>

<!-- menu column -->
    <div class="col-md-8" style='opacity:0.9'>

      <div class="thumbnail">
        <img class="img-responsive" src="/assets/food/B0-KsOdCIAAh-m7.jpg" alt="http://placehold.it/800x300">
        <!-- text left -->
        <div class="caption-full col-md-7 col-md-offset-1">

          <h4><a href="#">HEADING</a>
          </h4>
          <p>some blah blah</a>.</p>
          <p>more blah blah</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>

      <div class="well">
        <div class="row">
          <div class='col-md-5 col-md-offset-1'>
          </div>
          <div class='col-md-1 col-md-offset-3'>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4 col-md-offset-9'>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <hr>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <!-- <p><%=link_to 'All locations', restaurants_path%></p> -->
            </div>
        </div>
    </footer>

</div>



