<!DOCTYPE html>
<html>
<head>
  <title>Resto</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/style.css.scss" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%=render "navbar"%>

<%= yield %>

</body>
</html>
